export PROJECT_HOME="$PWD"
export KUBECONFIG="$PWD/.kube/config"
export K3D_CLUSTER_NAME=polaris-local-forge
export K3S_VERSION=v1.32.1-k3s1
export FEATURES_DIR="$PWD/k8s"

PATH_add "$PWD/bin"

dotenv_if_exists
source_env_if_exists .envrc.local

use_venv() {
  [ -f "$PWD"/.venv/bin/activate ] && source .venv/bin/activate
}

use_java_21() {
  if [ -f "$HOME/.sdkman/bin/sdkman-init.sh" ];
  then
    source "$HOME/.sdkman/bin/sdkman-init.sh"
    sdk use java 21.0.5-tem 
  fi
}

use venv
use java_21