export PROJECT_HOME="$PWD"
export KUBECONFIG="$PWD/.kube/config"
export K3D_CLUSTER_NAME=trino-localstack
export K3S_VERSION=v1.32.1-k3s1
export FEATURES_DIR="$PWD/k8s"

PATH_add "$PWD/bin"

dotenv_if_exists
source_env_if_exists .envrc.local