dist
.direnv
.env*
!.env.example
cosign*
image-refs.txt
.registry-data
!.envrc
!bin/*.sh
**/.*.env
**/*.secret
**/rsa_*
**/*.key
**/*.pem
bin/**
!bin/*.py
!bin/*.sh
kubectl
.task
work/**
!work/.gitkeep
.vscode
.ansible
**/persistence.xml
**/postgresql.yaml
**/polaris.env
notebooks/verify_polaris.ipynb